# A sample config file with options I use
# To use: rename to gitconfig.symlink and fill in your values

[user]
    name = Andrew Laski
    email = <email>

[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    brt = for-each-ref --sort='-authordate' --format='%(color:green)%(authordate:relative)%09%(color:blue)%(objectname:short)%09%(color:reset)%(refname:strip=2)' refs/heads
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[github]
    user = alaski
[push]
    default = current
