git/gitconfig.symlink
xmonad/xmonad.symlink/xmonad-i386-linux
xmonad/xmonad.symlink/xmonad.errors
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.o
offlineimap/offlineimaprc.symlink
msmtp/msmtprc.symlink
mutt/mutt.symlink/gmail.muttrc
mutt/mutt.symlink/mailtrust.muttrc
mutt/mutt.symlink/cache/headers/
mutt/mutt.symlink/cache/bodies/
mutt/mutt.symlink/alias
vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle/
